$bgColor: #F5F5F5;
$mainColor: #FFFFFF;
$rem: 37.5;
$bigSize: 32px;
$bigColor:#333333;
$middleSize: 28px;
$grayColor:#999999;
$lightBlue:rgb(22,151,219);
$smallSize: 22px;
$fontFamily:'PingFangSC';
$heartRed:rgb(255,134,134);
.xxl{
    font-size:0.96rem;
}
    .xl{
        font-size:0.85rem;
        }
    .l{
        font-size:0.8rem;
        }
    .m{
        font-size:0.74rem;
        }
    .s{
        font-size:0.64rem;
        }
    .font-hide{
        overflow:hidden;
        text-overflow: ellipsis;
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
    }
.headerTitle{
    flex:1 1 auto;
    text-align:center;
}
    .darker{
        color:#333333;
    }
    .dark{
        color:#666666;
    }
    .light{
        color:#999999;
    }
    .lighter{
        color:#CCCCCC;
    }
.lightBlue{
    color:$lightBlue;
}

.app{
    flex:1 1 auto;
    background-color:$bgColor;
    font-family:$fontFamily;
}

    @mixin vertical{
        display:flex;
        flex-direction:column;
    }
    @mixin horizontal{
        display:flex;
    }
    @mixin wrap{
        overflow:auto;
        flex:1 1 auto;
    }
    .vertical{
        @include vertical;
    }
    .horizontal{
        @include horizontal;
    }
    .wrap{
        @include wrap;
    }